name: My Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set environment variable
        run: echo "export const MY_SECRET = '${{ secrets.SECRET_API_KEY }}';" >> src/secrets.js

      - name: Build and deploy
        run: npm run build
